@mixin phonequery(){
    
    .header{
        background-color:none;
        padding-bottom:13.5em;
        width: 99%;
    }
    .title{
        font-size:0.8rem;
        white-space: wrap;
        border-bottom: 2px solid $toggleLight;
        padding-bottom: 2em;
        width: 100%;
        background-color:none;
    }
    .title-button{
        flex-direction: column;
        width:90%;
    }
    .button-area{
        margin-top: 1em;
        background-color:none;
        width:100%;
        justify-content: flex-end;
    }
    .btn-text{

        width: 80%;
        justify-content: flex-start;
    }
    .second-sec{
        margin-top:2em;
        background-color:none;
        width: 100%;
    }
    .up-boxes{
        width: 75%;
    }
    .super-flex{
        display: flex;
        width:100%;
        justify-content: center;
     }
    
    .up-boxes-p3{
        font-size:0.7rem;
        }

    .box-1{
        width:100%;
        }

    .sec-box{  

        width:75%;
    }
    .second-overview-title{

        width:100%;
        margin-top:1em;
        }
        .sec-over-p{
            
            width:fit-content;
            text-align: center;
            margin-left:14vw;
            margin-bottom: 0em;
        
        }

//fix up box arrow size


//places for triangle 2
        .results-flex-2{
            display: flex;
            margin:2.3em 1em 1em 0em;
            background-color:none;
            width: 100%;
            justify-content: flex-end;
            }

            .arrows-2{
                display: flex;
                width: 40%;
                margin-right:0em;//make this negative to shift arrow
                background-color:none;
                justify-content: flex-end;
                align-items: center;
                
                }
     //   
        .box-1-upper-p{
            font-size:0.9rem;
            white-space: nowrap;
            color:$Dark-Grayish-Blue-Text;
            font-weight: bold;
            margin:1.5em;
            }
            .box-1-upper-i{
            margin:1em 2em 0em 0em;
            width:100%;
            height: 22px;
            justify-content: flex-end;
            display: flex;
            }
            
            .box-1-lower-p2{
                background-color:none;
                white-space: nowrap;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-left:0.5em;
                color:$Lime-Green;
            }
    

}