
.fadeIn-acc{
    height: fit-content;
    animation-name: fadeIn;
    animation-duration: 1s;
}


.fadeIn{
animation-name: fadeIn;
animation-duration: 1s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        background-color: hsl(199, 7%, 47%);
        border-radius: 15px;
    }
    to{
     opacity: 1;
    }
}