@import "variables";

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;//width of the rounder border switch
  height: 33px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

/* The slider */
.slider {//el switch nuevo 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;                                 
  background-image: linear-gradient(to right, hsl(210, 78%, 56%) 1%, hsl(146, 68%, 55%) 100%);
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {//la bola
  height: 26px;
  width: 26px;
  content: "";
  position: absolute;
  left: 3px;
  bottom: 4px;
  background-color: $Dark-Desaturated-Blue-Card-BG;
  -webkit-transition: .4s;//transition sets
  transition: .4s;
}

input:checked + .slider {
  background-image: none;//make gradient dissapear
  background-color:$toggleLight;//lightmodeball
  
}

input:focus + .slider {
  box-shadow: 0 0 1px $toggleLight;//mini outline grey
 
}

input:checked + .slider:before {
  background-color:$Light-Grayish-Blue-Card-BG;//darkmodde ball
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px); // how far the ball moves
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;// el switch
 
}

.slider.round:before {
  border-radius: 50%;//the ball

}